
@{
    ViewBag.Title = "Asignaturas";
}

<h2 style="text-align:center">Horario de Clases</h2>

<table class="table table-striped" width="300">
    <thead>
        <tr>
            <th scope="col">Materia</th>
            <th scope="col">Horario</th>
            <th scope="col">Aula</th>
            <th scope="col">Profesor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Programacion III</th>
            <td>Lunes: 1:00 a 2:00 P.M / Miercoles: 9:00 a 12:00 P.M</td>
            <td>Aula Virtual 69 / Aula 1-1C</td>
            <td>Juan Enmanuel Rosario Rodriguez</td>
        </tr>
        <tr>
            <th scope="row">Programacion Web</th>
            <td>Aula Virtual</td>
            <td>Aula Virtual</td>
            <td>Raydelto Hernandez Pereza</td>
        </tr>
        <tr>
            <th scope="row">Diseño Centrado en el Ususario</th>
            <td>Sabados: 1:00 a 2:00 P.M</td>
            <td>Aula Virtual 21</td>
            <td>Cindy Yesiry Vasquez Castillo</td>
        </tr>
        <tr>
            <th scope="row">Ingles Nivel 10 - 12</th>
            <td>Domingos: 1:00 a 3:00 P.M / Lunes: 6:00 a 9:00 P.M</td>
            <td>Aula Virtual 67 / Aula 1-2D</td>
            <td>Jean Gesner Jean Gilles</td>
        </tr>
        <tr>
            <th scope="row">Calculo Integral</th>
            <td>Martes: 9:00 a 12:00 P.M / Jueves: 11:00 a 1:00 P.M</td>
            <td>Aula 4-2F / Aula 1-1A</td>
            <td>Maximiliano Alvarez</td>
        </tr>
        <tr>
            <th scope="row">Auditoria Informatica</th>
            <td>Aula Virtual</td>
            <td>Aula Virtual</td>
            <td>Jorge Taveras</td>
        </tr>
    </tbody>
</table>

<div class="container">
    <h3>Seccion de Pasatiempos</h3>
    <a class="btn btn-default" href="/Personal/Pasatiempos">Pasatiempos</a>
</div>

<div class="container">
    <h3>Peliculas Favoritas</h3>
    <a href="/Personal/PeliculasFaboritas">Peliculas Faboritas</a>
</div>

