
@{
    ViewBag.Title = "Pasatiempos";
}

<h2>Pasatiempos</h2>

<div class="container">
    <div>
        <h3>Jugar Videojuegos</h3>
        <img src="~/fonts/juego.jpg" width="750" height="421">
    </div>
    <div>
        <h3>Escuchar Musica</h3>
        <img src="~/fonts/musica.jpg" width="750" height="421">
    </div>
    <div>
        <h3>Ver Peliculas</h3>
        <img src="~/fonts/netflix.jpg" width="750" height="421">
    </div>
</div>

<div class="container">
    <h3>Peliculas Favoritas</h3>
    <a href="/Personal/PeliculasFaboritas">Peliculas Faboritas</a>
</div>


