
@{
    ViewBag.Title = "Index";
}

<h1 style="text-align:center">Bienvenido</h1>

<div class="row" style="display:flex">
    <img src="~/fonts/foto.jpg" width="150px" height="150px" style="margin:10px; border:3px solid black; border-radius:25px"/>

    <div style="margin:20px">
        <fieldset>
            <legend>Datos Generales</legend>
            <ul>
                <li>Fecha Nacimiento: 12/09/1996</li>
                <li>Cedula: 402-2702927-5</li>
                <li>Nacionalidad: Dominicana</li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Formacion Academica</legend>
            <ul>
                <li>Estudios Secundarios: Instituto Politecnico Francisco Jose Peynado (2012 a 2015)</li>
                <li>Estudios Tecnicos: Instituto tecnologico de las Americas Itla</li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Experiencia Laboral</legend>
            <ul>
                <li>Tecnico en Informatica: LAPCOM Tecnologi</li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Idiomas</legend>
            <ul>
                <li>Ingles (Basico)</li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Cuatrimestre</legend>
            <a href="/Personal/Asignaturas" class="btn btn-success">Asignaturas</a>
        </fieldset>
    </div>
</div>
